@use '../utilities/variables' as *;
@forward '../base/reset';

main {
 background-color: $darkestBackground;
 color: $globalFontColor;
 font-family: $paragraphs-font;
}


@media screen and (max-width: 411px) {
    .container-blog-body {
        display: block;
        margin: 0 auto;
        width: 92.5%;
        height: auto;
        background-color:$darkBackground;
    

        img {
            width: 100%;
            height: 300px;
            padding-bottom: 2em;
            padding-top: 2em;
        }
        p{
            text-align: left;
           /* display: flex;
            align-items: center; */
        }
        figcaption {
            text-align: center;
            font-size: small;
            margin-bottom: 1em;
            margin-top: -1em;      
        }
        h2 {
            color: white;
            font-size: 20px;
            text-align: left;
            padding-bottom: 1em;
            padding-top: 2em;
        }
        #button-blog {
            width: 60%;
            margin-top: 35px;
            margin-bottom: 25px;

            button{
                border-collapse: initial;
                color: white;
                background-color: $darkBackground;
                border-color: $globalFontColor;
                font-family: $paragraphs-font;
                border-radius: 30px;
                border-width: 1px;
                border-style: solid;
                margin: 1px;
            }
        }

    }
    .container-blog-info {
        h1 {
            color: white;
            font-size: 30px;
            text-align: center;
            padding-bottom: 1em;
            padding-top: 2em;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        .blog-info {
            width: 80%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            padding-bottom: 4em;
            justify-content: center;

            #andy{
                margin: 13px 25px;
            }
            
            div {
                display: flex;
                flex-direction: row;
                justify-content: space-between;  
            }

            
        }
    }
}



