@use '../utilities/variables' as *;
@forward '../base/reset';

main {
 background-color: $darkestBackground;
 color: $globalFontColor;
 font-family: $paragraphs-font;
}


@media screen and (max-width: 411px) {
    .container-blog-body {
        display: block;
        margin: 0 auto;
        width: 92.5%;
        height: auto;
        background-color:$darkBackground;
        margin-bottom: 3.5em;

        img {
            width: 100%;
            height: 300px;
            padding-bottom: 2em;
            padding-top: 2em;
        }
        p{
            text-align: left;
           /* display: flex;
            align-items: center; */
        }
        figcaption {
            text-align: center;
            font-size: small;
            margin-bottom: 1em;
            margin-top: -1em;      
        }
        h2 {
            color: white;
            font-size: 20px;
            text-align: left;
            padding-bottom: 1em;
            padding-top: 2em;
        }
        #button-blog {
            width: 60%;
            margin-top: 35px;
            margin-bottom: 25px;

            button{
                border-collapse: initial;
                color: white;
                background-color: $darkBackground;
                border-color: $globalFontColor;
                font-family: $paragraphs-font;
                border-radius: 30px;
                border-width: 1px;
                border-style: solid;
                margin: 1px;
            }
        }

    }
    .container-blog-info {
        h1 {
            color: white;
            font-size: 30px;
            text-align: center;
            padding-bottom: 1em;
            padding-top: 2em;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        .blog-info {
            width: 80%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            padding-bottom: 4em;
            justify-content: center;

            #andy{
                margin: 13px 25px;
            }
            
            div {
                display: flex;
                flex-direction: row;
                justify-content: space-between;  
            }

            
        }
    }

    .profil{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 90%;
        //height: 90%;
        //background-color: red;
        border: 0.5px solid $globalFontColor;
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding-top: 6%;
        padding-bottom: 6%;
        .pic_Andy{
            img{
                width: 65px;
                height: 65px;
                border-radius: 50px;
            }
        }
        .icon{
            i {
            
            font-size: 18px;
            line-height: 30px;
            width: 40px;
            height: 40px;
            border-radius: 36px;
            border-style: solid;
            border: 2px solid $globalFontColor;
            background-color: $darkBackground;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            
            
            &:hover {
                color: $darkestBackground;
                background-color: white;
                cursor: pointer;
            
            }
        }
        }
        
        .Andy_Bernard {
            margin-left: -2em;
            
            h1{
                font-family: $headings-font;
                color: white;
                font-size: 120%;
            }
            p{
                font-size: 70%;
            } 
        }

    }

    .team{
        display: flex;
        flex-direction: row;
        margin-top: 5em;
        margin-bottom: 5em;
        
        #team{
            margin-left: 1em;
          
            

            h1{
                font-family: $headings-font;
                color: white;
               
            }
            h2{
                font-size: 80%;
                
            }
            
        }
        .icon{
            margin-left: 1.3em;
        }
    }

    .container-comments{
        margin: auto;
        width: 95%;
        

        img{
            width: 65px;
            height: 65px;
            border-radius: 50px;
            margin-right: 1em;
            margin-top: 2.5em;
        }
        .comments{
            display: flex;
            flex-direction: row;
            width: 90%;
            display: flex;
            align-items: center;
            //margin: 0 auto;
            margin-bottom: 1em;

            h3{
                font-family: $headings-font;
                color: white;
                font-size: 80%;
            }
            p{
                font-size: 65%;
            }
        }
      
        h2{
            color: white;
            font-size: 180%;
            //margin-bottom: 2em;
        }
        #comments{
            p{
                font-size: 80%;
                text-align: left;
                margin-bottom: 1.5em;
                line-height: 18px;
            }

            a{
                font-size: 80%;
                color: antiquewhite;
                font-family: $headings-font;
            }
        }
      
    }
}



