@use '../utilities/variables' as *;
@forward '../base/reset';

footer {
    z-index: 0;
    color: $globalFontColor;
    padding: 0 1em;
    font-family: $paragraphs-font;
    background: $darkBackground;
    position: relative;
    a {
        color: white;
        text-decoration: none;
        &:visited {
            color: white;
        }
    }
    #footer-menu {
        display: grid; 
        &:first-child {
            padding-top: 3em;
        }
    }
    .footer-numberContainer {
        display: grid; 
        grid-template-columns: 2rem 1fr;
        align-items: center;
        margin-top: 2em;
        font-size: 10px;
        .footer-line {
            height: 1px; 
            background-color: $red;
            width: 20px;
        }
    }
    .footer-address, .footer-contact, .footer-links, #footer-hours-container, .footer-socials {
        margin-left: 2em;
    }
    .footer-category {
        font-family: $headings-font;
        color: white;
        font-weight: 700;
        margin: 1em 2em;
    }
    .footer-address {
        margin-bottom: 1em;
    }
    .footer-links {
        li {
            margin: 1.5em 0;
        }
        a {
            color: $globalFontColor;
            text-transform: uppercase;
            &:hover {
                color: white;
            }
        }
    }
    #footer-hours-container {
        ul {
        display: grid; 
        grid-template-columns: 7rem 1fr;
    }
        li {
            margin-top: 1em;
        }
    }
    .footer-socials {
        ul li {
            display: inline-block;
        }
        i {
            display: inline-block;
            font-size: 18px;
            line-height: 30px;
            width: 30px;
            height: 30px;
            border-radius: 36px;
            background-color: rgba(100, 100, 100, 0.3);
            color: white;
            margin: 0 3px 3px 0;
            text-align: center;
        &:hover {
            color: $darkestBackground;
            background-color: white;
            cursor: pointer;
        }
        }
    }
    hr {
        margin: 1em -1em;
        border: 1px solid rgba(50, 50, 50, 0.8);
    }
    #footer-bottom {
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 3em 1.5em;
        margin: -1em;
        background-color: rgba(12, 12, 12, 0.2);
    }
    &::after {
        content: "";
        background: url('../images/gallery/room-7.jpg') no-repeat;
        background-size:210vh 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.1;
        z-index: -1;
    }
}

@media screen and (max-width: 767px) {
    #footer-menu {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer-socials{
        ul{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
    #footer-menu {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1em;
        padding-bottom: 3em;
    }
}


@media screen and (min-width: 1024px){
    #footer-menu {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-bottom: 3em;
        width: 70%;
        margin: auto auto;
    }
}