@use '../utilities/variables' as *;
@forward '../base/reset';

/* footer {
    z-index: 1;
    &::after {
        content: "";
        background: url('../images/gallery/room-7.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        position: absolute;
        opacity: 0.1;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: -10;
    }
    background:  $darkBackground;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: $globalFontColor;
    font-family: $paragraphs-font;
    .footer-category {
        font-family: $headings-font;
        font-weight: 700;
        color: white;
        margin: 1rem 0;
        font-size: 3.5em;
    }
    .footer-address {
        margin: 2em 0;
    }
    .footer-text {
        font-size: 2em;
    }
    a {
        color: white;
        text-decoration: none;
    }
    .footer-link {
        text-transform: uppercase;
        color: $globalFontColor;
    }
    section {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        } 
        #footer-hours {
            &-container {
            display: flex;
            flex-direction: row;
            .footer-hours {
                margin-left: 2rem;
            }
        }
    }
    li {
        margin: 1.5rem 0;
        font-size: 2em;
        a {
            font-size: 2em;
        }
    }
    #footer-address, #footer-links, #footer-hours, #footer-social {
        margin-left: 2rem;
    }
    i {
        background-color: $darkBackground;
        padding: 1vw;
        border-radius: 50%;
        color: white;
        font-size: 2em;
        text-align: center;
    }
    #footer-bottom {
        background-color: $darkestBackground;
        display: flex;
        flex-direction: column;
        height: 20rem;
        justify-content: center;
        align-items: center;
        color: $globalFontColor;
        img {
            margin-bottom: 2rem;
            width: 25vw;
        }
    }

    .footer-line {
        width: 100%;
        height: 0.1rem;
        background-color: $red;
        margin-left: 15px;
    }
    .footer-numberContainer {
        width: 15%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-left: -1.3rem;
    }
} */

footer {
    z-index: 0;
    color: $globalFontColor;
    padding: 0 1em;
    font-family: $paragraphs-font;
    background: /* url('../images/gallery/room-7.jpg'),  */$darkBackground;
    position: relative;
    #footer-bg {
        opacity: 0.1;
        width: 200%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }
    a {
        color: white;
        text-decoration: none;
        &:visited {
            color: white;
        }
    }
    #footer-menu {
        display: grid; 
        &:first-child {
            padding-top: 3em;
        }
    }
    .footer-numberContainer {
        display: grid; 
        grid-template-columns: 2rem 1fr;
        align-items: center;
        margin-top: 2em;
        font-size: 10px;
        .footer-line {
            height: 1px; 
            background-color: $red;
            width: 30px;
        }
    }
    .footer-address, .footer-contact, .footer-links, #footer-hours-container, .footer-socials {
        margin-left: 2em;
    }
    .footer-category {
        font-family: $headings-font;
        color: white;
        font-weight: 700;
        margin: 2em 2em;
    }
    .footer-address {
        margin-bottom: 1em;
    }
    .footer-links {
        li {
            margin: 1.5em 0;
        }
        a {
            color: $globalFontColor;
            text-transform: uppercase;
            &:hover {
                color: white;
            }
        }
    }
    #footer-hours-container {
        display: grid; 
        grid-template-columns: 7rem 1fr;
        li {
            margin-top: 1em;
        }
    }
    .footer-socials {
        ul li {
            display: inline-block;
        }
        i {
            display: inline-block;
            font-size: 18px;
            line-height: 30px;
            width: 30px;
            height: 30px;
            border-radius: 36px;
            background-color: $darkestBackground;
            color: white;
            margin: 0 3px 3px 0;
            text-align: center;
        &:hover {
            color: $darkestBackground;
            background-color: white;
            cursor: pointer;
        }
        }
    }
    hr {
        margin: 1em -1em;
        border: 1px solid rgba(50, 50, 50, 0.5);
    }
    #footer-bottom {
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1.5em;
        margin: -1em;
        background-color: rgba(12, 12, 12, 0.5);
    }
    &::after {
        content: "";
        background: url('../images/gallery/room-7.jpg');
        /* background-repeat: repeat-y; */
        background-size:cover;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.1;
        z-index: -1;
    }
}

@media screen and (max-width: 767px) {
    #footer-menu {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #footer-menu {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1em;
    }
}


@media screen and (min-width: 1024px){
    #footer-menu {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}