@use '../utilities/variables' as *;
@forward '../base/reset';

footer {
    z-index: 1;
    &::before {
        content: "";
        background: url('../images/gallery/room-7.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        position: absolute;
        opacity: 0.1;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 0;
    }
    background:  $darkBackground;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: $globalFontColor;
    font-family: $paragraphs-font;
    .footer-category {
        font-family: $headings-font;
        font-weight: 700;
        color: white;
        margin: 1rem 0;
        font-size: 3.5em;
    }
    .footer-address {
        margin: 2em 0;
    }
    .footer-text {
        font-size: 2em;
    }
    a {
        color: white;
        text-decoration: none;
    }
    .footer-link {
        text-transform: uppercase;
        color: $globalFontColor;
    }
    section {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        } 
        #footer-hours {
            &-container {
            display: flex;
            flex-direction: row;
            .footer-hours {
                margin-left: 2rem;
            }
        }
    }
    li {
        margin: 1.5rem 0;
        font-size: 2em;
        a {
            font-size: 2em;
        }
    }
    #footer-address, #footer-links, #footer-hours, #footer-social {
        margin-left: 2rem;
    }
    i {
        background-color: $darkBackground;
        padding: 1vw;
        border-radius: 50%;
        color: white;
        font-size: 2em;
        text-align: center;
    }
    #footer-bottom {
        background-color: $darkestBackground;
        display: flex;
        flex-direction: column;
        height: 20rem;
        justify-content: center;
        align-items: center;
        color: $globalFontColor;
        img {
            margin-bottom: 2rem;
            width: 25vw;
        }
    }

    .footer-line {
        width: 100%;
        height: 0.1rem;
        background-color: $red;
        margin-left: 15px;
    }
    .footer-numberContainer {
        width: 15%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-left: -1.3rem;
    }
}

