@use '../utilities/variables' as *;

main {
	display: flex;
	flex-direction: column;
	background-color: $darkestBackground;
	overflow-x: hidden;
}

@media screen and (max-width: 412px) {
	.hero {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-image:
			/*linear-gradient(150deg, rgba(0,0,0,0.3) 34%, rgba(0,0,0,0.7) 100%)*/
			linear-gradient(180deg, rgba(27,27,27,0.1) 0%, rgba(27,27,27,1) 100%),
			url('./../images/gallery/slide-4.jpg');
		background-position-x: 40%;
		background-position-y: 100%;
		background-size: cover;
		height: 50vh;
		position: relative;
		font-family: $headings-font, sans-serif;

		&__container {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			margin: auto;
			text-align: center;

			h1 {
				font-weight: 700;
				color: $whiteBackground;
				font-size: 32px;
			}

			a {
				color: $whiteBackground;
				text-decoration: none;
				margin: auto;
				margin-top: 20px;
				letter-spacing: 2.5px;
				font-size: 12px;
			}
	
			a:hover {
				color: $red;
			}
		}
	}

	.gray-bar {
		width: 40px;
		height: 5px;
		background-color: rgba(128, 128, 128, 0.445);
		margin: auto;
		margin-top: 20px;
		margin-bottom: 40px;
	}

	.features-rooms {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		font-family: $headings-font, sans-serif;

		h2 {
			color: $whiteBackground;
			font-weight: 700;
			font-size: 20px;
		}

		&__container-card {
			background-color: red;
			width: 90%;

			img {
				width: 100%;
			}
		}
	}
}