@use '../utilities/variables' as *;
@forward '../base/reset';

@media screen and (max-width: 1279px) {
    header {
        nav { 
            display: flex;
            flex-direction: row; 
            align-items: center;
            justify-content: space-between;
            background-color: rgba(25, 25, 25, 0.4);
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 299;
            a {
                text-decoration: none;
                font-family: $headings-font; 
                color: white;
                &:visited {
                    color: white;
                }
                &:hover {
                    color: $globalFontColor;
                }
            }
            #navbar-menu {
                display: none;
                flex-direction: column;
                gap: 1em;
                background-color: $darkBackground;  
                height: 100vh;
                width: 70vw;
                padding-left: 2em;
                padding-top: 2em;
                hr {
                    border: 1px solid rgba(50, 50, 50, 0.8);;
                    width: 107%;
                    margin-left: -2em;
                }
                li {
                    text-transform: capitalize;
                    font-weight: 700;
                    font-family: $headings-font;
                }
            }
            #navbar-right__desktop {
                display: none;
            }
            #navbar-right__mobile {
                display: flex;
                align-items: center;
                #checkbox-burger {
                    position: absolute;
                    display: flex;
                    height: 32px;
                    width: 33px;
                    top: 30px;
                    right: 16px;
                    z-index: 5;
                    opacity: 0;
                    cursor: pointer;
                }
            
                #burger--button {
                    display: block;
                    height: 26px;
                    width: 32px;
                    position: absolute;
                    top: 25px;
                    right: 20px;
                    z-index: 2;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
            
                .lines {
                    display: block;
                    height: 4px;
                    width: 100%;
                    border-radius: 10px;
                    background: white;
                }
            
                #line1 {
                    transform-origin: 0% 0%;
                    transition: transform 0.4s ease-in-out;
                }
            
                #line2 {
                    transition: transform 0.2s ease-in-out;
                }
            
                #line3 {
                    transform-origin: 0% 100%;
                    transition: transform 0.4s ease-in-out;
                }
            }
        }
    }
}
/*Tablet*/
/* @media screen and (min-width: 768px) and (max-width: 1279px) {

} */
/*Computer*/
@media screen and (min-width: 1280px){
header {
    .desktop-hidden {
        display: none;
    }
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(25, 25, 25, 0.4);
        position: fixed;
        top: 0;
        width: 100%;
        a {
            text-decoration: none;
            font-family: $headings-font;
            color: white;
            &:visited {
                color: white;
            }
            &:hover {
                color: white;
            }
        }
        .navbar-item--active {
            color: white;
            position: relative;
            &::before {
                position: absolute;
                z-index: 0;
                top: 10px;
                content: "";
                width: 50px;
                height: 2.5px;
                background-color: $red;
                transform: rotate(-45deg);
            }
            &:hover::before {
                position: absolute;
                z-index: 0;
                top: 10px;
                content: "";
                width: 50px;
                height: 2.5px;
                background-color: $red;
                transform: rotate(-45deg);
            }
        }
    }
    ul li {
        display: inline-block;
        margin-left: 1em;
        &:hover::before {
            position: absolute;
            z-index: 0;
            top: 40px;
            content: "";
            width: 50px;
            height: 2.5px;
            background-color: $red;
            transform: rotate(-45deg);
        }
    }
    #navbar-left {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #navbar-right__mobile {
        display: none;
    }
    #navbar-right__desktop {
        a {
            color: white;
            &:hover {
                color: $globalFontColor;
            }
            i {
                font-size: 16px;
                padding-right: 1em;
            }
        }
        p {
            color: $globalFontColor;
        }
        #book-now {
            font-weight: 700;
            padding: 1em 1.5em;
            border-radius: 25px;
            border: 1px solid $globalFontColor;
            &:hover {
                border-color: white;
            }
        }
        #header-signin {
            text-transform: uppercase;
            font-size: 10px;
        }
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;
        color: white;
        padding-right: 2em;
    }
}
}