@use '../utilities/variables' as *;

.testimonials {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $whiteBackground;

	h2 {
		color: $darkestBackground;
		font-weight: 700;
		font-size: 19px;
		margin-bottom: 50px;
		font-family: $headings-font, sans-serif;
	}

	q {
		font-family: $paragraphs-font, sans-serif;
		color: $globalFontColor;
		font-size: 14px;
		margin-bottom: 50px;
		width: 80%;
		text-align: center;
		line-height: 20px;
	}

	p {
		font-family: $paragraphs-font, sans-serif;
		color: $globalFontColor;
		font-size: 14px;
		font-weight: 700;
		margin: 20px 0px 40px 0px;
	}
}